<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.karuhanga.logrealty"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_timeline_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_timeline_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="log_realty.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="ug.karuhanga.logrealty" />

        <activity
            android:name=".Views.Gist"
            android:label="Upcoming Payments"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.AddPayment"
            android:label="@string/title_activity_add_payment">
        </activity>
        <activity
            android:name=".Views.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Views.Gist"/>
        <activity
            android:name=".Views.AddLocation"
            android:label="@string/title_activity_add_location"
            android:parentActivityName=".Views.Gist" />
        <activity
            android:name=".Views.AddHouse"
            android:label="@string/title_activity_add_house"
            android:parentActivityName=".Views.Gist" />
        <activity
            android:name=".Views.AddTenant"
            android:label="@string/title_activity_add_tenant"
            android:parentActivityName=".Views.Gist"/>
        <activity
            android:name=".Views.Details"
            android:label="Details"
            android:parentActivityName=".Views.Gist"
            android:theme="@style/ActivityPopups">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.karuhanga.logrealty.Views.Gist" />
        </activity>

        <receiver
            android:name=".Receivers.OnAlertTime"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".Receivers.OnRestoreNotifications"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.Backup"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Restore"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>